@tailwind base;
@tailwind components;
@tailwind utilities;


.playfair{
    font-family: 'Playfair Display', serif;
}

.inter{
    font-family: 'Inter', sans-serif;
}

.poppins{
    font-family: 'Poppins', sans-serif;
}

.fancy {
    background-color: rgba(234,208,191,1);
}

